.BG {
    margin: 10vh auto;
    padding: 10px 3vw;
    border: thick double #32a1ce;
    border-radius: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(207, 38%, 84%);
    box-shadow: 0 8px 8px -1px rgb(201, 212, 216), inset 0 0 8px rgb(134, 143, 146);
}

.space {
    margin: 10px auto;
    padding: 0;
}

ul {
    padding: 0%;
}

.items {
    width: fit-content;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    list-style: none;
}

.done {
    text-decoration: line-through;
    color: darkred;
}

.delbtn {
    width: fit-content;
    position: relative;
    margin-top: 5px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}
